




.pagebutton {
    background-color: green;
    width: 30%;
    height: auto;
    display: inline-block;
    justify-content: center; 
    position: relative;
    text-align: center;

}

.catimg1 {
    width: 40%;
    height: auto;
}

.outline td{
    border: 1px solid black;
}

.dogs {
    width: 30%;
    height: auto;
}